.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem;
    gap: 2rem;
}
.about_head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 800;
    font-family: Roboto;
    margin-top: 2rem;
}
@media screen and (max-width:650px){
    .about_head{
        font-size: 40px;
    }
}
.about_last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_last_second{
    text-align: center;
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.about_dowload{
    display: flex;
    flex-direction: column;
    background: linear-gradient(85deg,#0c0c0aac,#040101);
    height: 20rem;
    width: 50rem;
    margin: 5rem 0rem;
    border-radius: 1.5rem;
    padding: 2rem;

}
.about_btn{
    background: #d3d0bc;
    border-radius: 40px;
    color: #020308;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    line-height: normal;
    margin: 20px auto auto;
    padding: 20px 30px;
    text-align: center;
    width: 30%;
}
@media screen and (max-width:850px){
    
    .about_last_second{
        font-size: 30px;
    }
    .about_dowload{
        height: auto;
        width: auto;
        margin: 3rem 0rem;
    
    }
    .about_btn{
        border-radius: 20px;
        font-size: 14px;
        margin: 20px auto auto;
        padding: 15px 15px;
    }

}