.contact_page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem;
}
.contact_heading{
    color: #000;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.contact_heading_des{
    color: #717171;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.contact_main_div{
    display: flex;
height: 38rem;
flex-shrink: 0;
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
padding: 1rem;
}
@media screen and (max-width:950px){
    .contact_main_div{
        flex-direction: column;
        align-items: center;
        padding: 0rem;
        background:white;
        height: auto;
    }

}
.leftp{
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 25rem;
  height: 35rem;
  padding: 2rem 2rem;
  border-radius: 1rem;
}
.left_upper{
    display: flex;
    flex-direction: column;
}
.contact_infor{
    color: #FFF;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 1rem;
}
.contact_infor_des{
    color: #C9C9C9;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.all_details{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.icon_ex{
    display: flex;
    align-items: first baseline;
    margin: 1rem 0rem;
}
.icon_co{
    margin-right: 2rem ;
}
.icon_detail{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.socialmediaLinks{
    
    display: flex;
    flex-direction: row;   
    justify-content:space-between;
    margin-top: 3rem;
    width: 10rem;
    
}
.icons{
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin: 0 10px;
    
}
.icons:hover{
    border: 2px  rgb(103, 103, 150);
    height: 35.2px;
    width: 35.2px;
}
@media screen and (max-width:900px){
    .leftp{
        height: auto;
        width: 20rem;
        padding: 2rem 1rem;
      }
    .icon_co{
        margin-right: 0.5rem ;
    }
    .contact_infor{
    font-size: 20px;
    }
    .contact_infor_des{
    font-size: 14px;
    }
    .icon_detail{
    font-size: 13px;
    }

}
.right{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
}
@media screen and (max-width:900px){
    .right{
        padding: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
}

.first_c{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.user_name{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
}
@media (max-width:450px) {
    .first_c{
        flex-direction: column;
        margin-bottom: 0rem;
    }
    .btn{
        margin-top: 3rem;
    }
}
.first_name{
    color: #8D8D8D;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 166.667% */
}
.name_input{
    border: none;
    border-bottom: 1px solid #8D8D8D;
    margin-top: 1rem;
    /* width: 14rem; */
}
.name_input_x{
      border: none;
        border-bottom: 1px solid #8D8D8D;
        margin-top: 1rem;
        /* width: 36rem; */
    
}

.btn{
    display: inline-flex;
padding: 15px 48px;
align-items: flex-start;
gap: 10px;
border-radius: 5px;
background: #000;
box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
color: white;
}