.blog_comp{
    display: inline-flex;
    height: 15rem;
    width:40rem;
    padding-right: 0.02px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border: 1px solid violet;
    background: #121212;
    border-radius: 1rem;
   
    position: relative;
}

.img_blog{
    img{
        width:17rem;
    height: 15rem;

    }
}
@media (max-width:700px) {
    .blog_comp{
        display: flex;
        flex-direction: column;
        height: 25rem;
        width:17rem;
    }
    .img_blog{
        img{
            width:17rem;
        height: rem;
    
        }
    }
}
.blog_detail{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-height:15rem ;
    overflow: auto;
   
    /* width: 50%; */
   
}
.blog_heading{
    color: #F2F2F2;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 33.99px; /* 130.574% */

}
.blog_des{
    color: #767676;
font-family: "DM Sans";
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27.2px; /* 160% */
margin-top: 1rem;

}
@media (max-width:700px) {
    .blog_comp{
        display: flex;
        flex-direction: column;
        height: 25rem;
        width:17rem;
    }
    .img_blog{
        img{
            width:17rem;
        height: 11rem;
    
        }
    }
    .blog_heading{
        font-size: 16px;

    }
    .blog_des{
    font-size: 14px;
    line-height: 20px; /* 160% */
    margin-top: 0.5rem;
    
    }
}
.d_co{
    display: inline-flex;
    gap: 10px;
    margin-top: 1rem;
}
.date{
    color: #A3A3A3;
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
}
