.navbar{
    /* position: fixed; */
    height: 5rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    border-bottom:2px solid rgb(178, 160, 160);
}
.navbar_div{
    display: flex;
    flex-direction: column;
}
.nav_up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding:0rem 1rem;
}

.navbar_logo{
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-decoration: none;
}

.navbar_items_element{
    text-decoration: none;
    padding: 15px;
    color: black;
    
}
.navbar_items{
    font-size: 20px;

}
.dropdown_toggle{
    display: none;
}

.dropdown_menu{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.nav_down{
    display: none;
}
@media screen and (max-width:800px){
    .navbar_items{
        display: none;
    
    }
    .dropdown_toggle{
        display:flex
    }
    .navbar_items_element{
        text-decoration: none;
        padding: 10px;
        
    }
    .nav_down{
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        background-color: white;
    }
    
    
}
